.carddiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.firstimg {
    width: 45vw;

}

.welcome-div {
    background-color: rgba(166, 166, 166, 0.906);
    display: flex;
    flex-direction: row;
}

h1 {
    text-align: center;
}

.p1 {
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 15vh;
}

h6 {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.footer {
    margin-top: 50px;
    background-color: gray;
    
}