body {
    background-image: linear-gradient(to right, #ffafbd, #ffc3a0);
}

.nav1 {
    background-color: #ffafbd;
}


.carddiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.firstimg {
    width: 100%;
}

.div1 {
    background-color: #ffafbd;
}

.welcome-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

.p1 {
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 15vh;
}

h6 {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

hr {
    height: 5px;
    background-color: black;
}

.facebookimg {
    width: 50px;
    margin-left: 45%;
}

.telegramimg {
    width: 50px;
}

#carddiv2 {
    margin-bottom: 30px;
}